.button{
-fx-background-color: transparent;
-fx-border-color: transparent;
-fx-background-image:  url("./imagens/deslogar.png");
-fx-background-size: 160 115;
-fx-background-position: center center;
-fx-background-repeat: stretch;
}
